@model 大專.Models.Member
@{
    ViewBag.Title = "ChangePassword";
}
@section css{
    <style>
        #click {
            height: 50px;
            width: 100px;
            background-color: red;
            color: aliceblue;
            margin-left: 20px;
            margin-top: 10px;
        }

        table input {
            margin-left: 10px;
            margin-top: 5px;
        }

        table label {
            margin-top: 5px;
        }

        .total-products label {
            font-size: 15px;
        }

        .catagories-menu a {
            font-size: 20px !important;
            margin-top: 20px;
        }

        #image {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }
    </style>
}
@using (Html.BeginForm())
{

    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">
                        <div class="widget catagory mb-50">
                            <h6 class="widget-title mb-30" style="font-size:35px">會員中心</h6>

                            @*<img id="image" src="~/img/狗.jpg" alt="圓形圖示">*@
                            @{
                                string aaa = $@"D:\資策會上課內容\ASP,NET_MVC練習\大專\大專\img\member-img\{Session["userImg"]}";
                                if (System.IO.File.Exists(aaa))
                                {
                                    <img id="image" src="~/img/member-img/@Session["userImg"]" />
                                }
                                else
                                {
                                    <img id="image" src="~/img/member-img/0.jpg" />
                                }
                            }
                            @Html.DisplayText("Username")

                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a href="#">我的帳戶</a>
                                        <ul class="sub-menu collapse show" id="clothing">
                                            @*<li><a href="~/Home/ChangeProfile">個人檔案</a></li>
                                                <li><a href="~/Home/ChangePassword">更改密碼</a></li>*@
                                            <li>@Html.ActionLink("個人檔案", "ChangeProfile", new { id = Session["userID"] })</li>
                                            <li>@Html.ActionLink("更改密碼", "ChangePassword", new { id = Session["userID"] })</li>
                                            <li>@Html.ActionLink("上傳頭貼", "UploadImg", new { id = Session["userID"] }) </li>
                                        </ul>
                                    </li>
                                </ul>
                                @*<a href="~/Home/MemberCentre">購物清單</a>*@
                                @Html.ActionLink("購物清單", "MemberCentre", new { id = Session["userID"] })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9" style="background-color:lavenderblush">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <h1 style="font-size:35px">更改密碼</h1><br /><br />
                                        @*<label>現在的密碼</label><br />
                                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                            <label>新的密碼</label><br />
                                            @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                                            <label>確認密碼</label><br />
                                            @Html.EditorFor(model => model.confirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.confirmNewPassword, "", new { @class = "text-danger" })*@

                                        <table>
                                            <tr>
                                                <td>@Html.Label("目前密碼", new { @for = "Password" }) :  </td>
                                                <td>@Html.Password("Password")</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.Label("新的密碼", new { @for = "newPassword" }) :</td>
                                                <td>@Html.Password("newPassword")</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.Label("確認密碼", new { @for = "ConfirmNewPassword" }) : </td>
                                                <td>@Html.Password("ConfirmNewPassword")</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                            </tr>
                                        </table>


                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="確認" id="click" class="btn btn-default" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div>@Html.Raw(TempData["msg"])</div>
@section script {
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
}


